version: 2.1
orbs:
  node: circleci/node@5.0.2
  snyk: snyk/snyk@1.1.2
jobs:
  npm-install:
    docker:
      - image: cimg/node:18.4
    steps:
      - run: cd ../../ && npm i
  dependency-vulnerability-scan:
    docker:
      - image: cimg/node:18.4
    steps:
      - checkout
      - node/install-packages
      - snyk/scan:
          fail-on-issues: false
          monitor-on-build: true
          project: '${CIRCLE_PROJECT_REPONAME}/${CIRCLE_BRANCH}-app'
          token-variable: SNYK_TOKEN
workflows:
  node-tests:
    jobs:
      - npm-install
      - node/test