html, body {
  min-height: 100%;
}

h1 {
  font-family: 'Lobster Two', cursive;
  color: #ffffff;
}
input {
  width: 300px;
}

.App {
    width: 100%;
    min-height: 100%;

    display: flex;
    flex-direction: column;
    align-items: stretch; 
     text-align: center;
}

.App-header {
  height: auto;
  background: #108dc7;  /*allback for old browsers*/
  background: -webkit-linear-gradient(to right, #ef8e38, #108dc7);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ef8e38, #108dc7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-shrink: 0;
}

.Books {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-wrap: wrap;
  flex-shrink: 0;
  flex-grow: 1;
}


.myButton {
	box-shadow:inset 0px 1px 3px 0px #91b8b3;
	background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
	background-color:#768d87;
	border:1px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Courier New;
	font-size:15px;
	font-weight:bold;
  margin-left: 5px;
  margin-bottom: 8px;
	text-decoration:none;
	text-shadow:0px -1px 0px #2b665e;
}
.myButton:hover {
	background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
	background-color:#6c7c7c;
}
.myButton:active {
	position:relative;
	top:1px;
}

.App-link {
  color: #61dafb;
}

.App-footer {
  height: 100px;
  font-family: 'Lobster Two', cursive;
  color: #ffffff;
  background: #108dc7;
 
  position: relative; 
  left: 0 ; 
  right: 0; 
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.absolute {
  position: absolute; 
}