.Book {
    width: 40%;
    height: 400px;
    margin-left: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    cursor:pointer;
    border-bottom: 1px ridge gray;
}

span, p, .important {
    font-family: CenturyGothic,AppleGothic,sans-serif;
    font-size: large; 
}
span:hover{
    font-weight: bolder;
}

.book-title {
    font-weight: bold;
    /* line-height: 0.8em;
    overflow: hidden; */
}
.book-title > span {
    font-weight: normal;
    list-style-type: none;
    margin-top: 5px;
}

.description {
    font-family: "Book Antiqua";
    font-size: smaller;
}

.highlight:hover {
    box-shadow: 2px 2px black;
}
.ratings {
    margin-left: 35%;
}

.info { 
    display: flex;
}
.left-section, .right-section {
    margin-left: 10px;
}